.*.aux
*.glob
*.vo
*.#*#
*.sw?
*.*~
*.pyc
*.vok
*.vos
*.bin
*.plugin
_build
*~
*.o
*.table
*.text
*.entry
*.patched
*.orig
*.map
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
*.cache
.vscode
*.crashrocqide
